workflow/campuscast-mvp.workflow.json
{
  "name": "CampusCast AI MVP",
  "nodes": [
    {
      "parameters": {},
      "id": "c3ebdf60-8b4f-4f3e-bb3a-0e1b1a8b0001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "latitude", "value": "-25.4284" },
            { "name": "longitude", "value": "-49.2733" },
            { "name": "current", "value": "temperature_2m,relative_humidity_2m,precipitation,rain,weather_code,wind_speed_10m" },
            { "name": "timezone", "value": "America/Sao_Paulo" }
          ]
        },
        "options": {}
      },
      "id": "c3ebdf60-8b4f-4f3e-bb3a-0e1b1a8b0002",
      "name": "Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1DQ1hYUafUCFAGBlfEjy0cBKKGTKhOdTDVlqXzBbHqKk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "events"
        },
        "options": {}
      },
      "id": "c3ebdf60-8b4f-4f3e-bb3a-0e1b1a8b0006",
      "name": "Events Read",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 300],
      "credentials": {
        "googleApi": {
          "id": "xsjRaVzdAvkp6C3F",
          "name": "Google Sheets — CampusCast"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const weather = $('Weather').first().json.current;\n\nconst WMO = {\n  0: 'céu limpo',\n  1: 'parcialmente nublado', 2: 'parcialmente nublado',\n  3: 'céu encoberto',\n  45: 'neblina', 48: 'neblina',\n  51: 'garoa', 53: 'garoa', 55: 'garoa',\n  61: 'chuva fraca', 63: 'chuva moderada', 65: 'chuva forte',\n  66: 'chuva congelante', 67: 'chuva congelante',\n  71: 'neve', 73: 'neve', 75: 'neve',\n  80: 'pancadas de chuva', 81: 'pancadas de chuva', 82: 'pancadas de chuva',\n  95: 'trovoada', 96: 'trovoada', 99: 'trovoada'\n};\nconst weather_phrase = WMO[weather.weather_code] || 'condição indefinida';\n\nconst todaySP = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Sao_Paulo' });\nconst events = $('Events Read').all().map(i => i.json);\nconst todays = events.filter(e => String(e.date) === todaySP);\nconst events_list = todays.length === 0\n  ? 'Nenhum evento registrado hoje.'\n  : todays.map(e => `- ${e.date} ${e.time} ${e.event_name} (${e.location})`).join('\\n');\n\n// Derive deterministic facts so the LLM doesn't have to infer them.\nconst is_raining = (weather.rain > 0) || (weather.precipitation > 0) || [51,53,55,61,63,65,66,67,80,81,82].includes(weather.weather_code);\nconst is_hot = weather.temperature_2m >= 28;\nconst is_cold = weather.temperature_2m <= 12;\nconst is_windy = weather.wind_speed_10m >= 30;\nconst is_stormy = [95,96,99].includes(weather.weather_code);\n\nconst advice_rules = [];\nif (is_raining) advice_rules.push('- Há chuva ou garoa agora: recomende levar guarda-chuva ou capa.');\nif (!is_raining) advice_rules.push('- NÃO há chuva. NÃO mencione guarda-chuva, chuva ou proteção contra chuva.');\nif (is_cold) advice_rules.push('- Temperatura baixa: recomende agasalho.');\nif (is_hot) advice_rules.push('- Temperatura alta: recomende hidratação.');\nif (!is_cold && !is_hot) advice_rules.push('- Temperatura amena: NÃO recomende agasalho nem reforço de hidratação.');\nif (is_windy) advice_rules.push('- Vento forte (>30 km/h): alerte sobre o vento.');\nif (!is_windy) advice_rules.push('- Vento fraco/moderado: NÃO mencione vento como fator relevante.');\nif (is_stormy) advice_rules.push('- ALERTA: há trovoada. Inclua alerta de risco claro.');\nif (!is_stormy && !is_raining && !is_windy) advice_rules.push('- Sem riscos meteorológicos: indique explicitamente que não há alertas hoje.');\n\nconst payload = {\n  city: 'Curitiba',\n  weather_time: weather.time,\n  temperature: weather.temperature_2m,\n  humidity: weather.relative_humidity_2m,\n  rain: weather.rain,\n  precipitation: weather.precipitation,\n  wind_speed: weather.wind_speed_10m,\n  weather_phrase,\n  weather_code: weather.weather_code,\n  events_list,\n  is_raining, is_hot, is_cold, is_windy, is_stormy\n};\n\nconst prompt = `Você é o CampusCast AI. Produza um boletim curto em português do Brasil para estudantes, estritamente fiel aos dados.\n\n### DADOS (fonte única da verdade — não invente nada fora daqui)\nCidade: ${payload.city}\nHorário: ${payload.weather_time}\nCondição atual: ${payload.weather_phrase} (código WMO ${payload.weather_code})\nTemperatura: ${payload.temperature} °C\nUmidade: ${payload.humidity}%\nChuva (mm na última hora): ${payload.rain}\nPrecipitação total (mm): ${payload.precipitation}\nVento: ${payload.wind_speed} km/h\n\n### EVENTOS DO CAMPUS HOJE\n${payload.events_list}\n\n### REGRAS DE CONTEÚDO (obrigatórias)\n${advice_rules.join('\\n')}\n\n### ESTRUTURA\n1. Saudação breve (1 frase).\n2. Resumo do clima (1 frase) usando APENAS a 'Condição atual' e a temperatura — sem adjetivar o que não está nos dados.\n3. Conselho prático: siga as regras de conteúdo acima. NÃO adicione conselhos que não foram autorizados pelas regras.\n4. Lembrete de eventos: cite cada evento listado. Se a lista disser \"Nenhum evento registrado hoje\", diga isso com estas palavras.\n5. Alerta final: se as regras autorizarem um alerta, inclua-o; caso contrário, escreva exatamente \"Sem alertas de risco para hoje.\"\n\n### REGRAS GLOBAIS\n- Máximo de 120 palavras.\n- Português claro, natural, adequado para leitura em áudio.\n- PROIBIDO: asteriscos (*), sublinhados (_), crases, hashtags (#), emojis, qualquer marcação markdown. O texto será lido em voz alta — todo caractere de marcação será pronunciado literalmente e soará péssimo.\n- Produza APENAS prosa corrida. Sem títulos, sem negrito, sem listas com bullets. Não escreva 'Boletim CampusCast' em negrito ou como cabeçalho; se precisar de um título, escreva uma frase normal.\n- NÃO invente eventos, clima, nem riscos. Se os dados não cobrem um tópico, não o mencione.\n- NÃO faça suposições sobre a hora do dia além do que o campo 'Horário' diz.`;\n\nreturn [{ json: { payload, prompt } }];"
      },
      "id": "c3ebdf60-8b4f-4f3e-bb3a-0e1b1a8b0003",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.1:8b\",\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.3,\n    \"top_p\": 0.9,\n    \"num_predict\": 220\n  }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c3ebdf60-8b4f-4f3e-bb3a-0e1b1a8b0004",
      "name": "Ollama Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8800/tts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.response) }}\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c3ebdf60-8b4f-4f3e-bb3a-0e1b1a8b0005",
      "name": "Kokoro TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "timestamp", "value": "={{ $now.toISO() }}", "type": "string" },
            { "id": "a2", "name": "city", "value": "={{ $('Build Prompt').first().json.payload.city }}", "type": "string" },
            { "id": "a3", "name": "temperature", "value": "={{ $('Build Prompt').first().json.payload.temperature }}", "type": "number" },
            { "id": "a4", "name": "humidity", "value": "={{ $('Build Prompt').first().json.payload.humidity }}", "type": "number" },
            { "id": "a5", "name": "rain", "value": "={{ $('Build Prompt').first().json.payload.rain }}", "type": "number" },
            { "id": "a6", "name": "precipitation", "value": "={{ $('Build Prompt').first().json.payload.precipitation }}", "type": "number" },
            { "id": "a7", "name": "wind_speed", "value": "={{ $('Build Prompt').first().json.payload.wind_speed }}", "type": "number" },
            { "id": "a8", "name": "events_used", "value": "={{ $('Build Prompt').first().json.payload.events_list }}", "type": "string" },
            { "id": "a9", "name": "llm_response", "value": "={{ $('Ollama Generate').first().json.response }}", "type": "string" },
            { "id": "a10", "name": "audio_file", "value": "={{ $json.audio_file }}", "type": "string" },
            { "id": "a11", "name": "status", "value": "ok", "type": "string" },
            { "id": "a12", "name": "error_message", "value": "", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "c3ebdf60-8b4f-4f3e-bb3a-0e1b1a8b0007",
      "name": "Build Success Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1DQ1hYUafUCFAGBlfEjy0cBKKGTKhOdTDVlqXzBbHqKk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "results"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "c3ebdf60-8b4f-4f3e-bb3a-0e1b1a8b0008",
      "name": "Results Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1780, 300],
      "credentials": {
        "googleApi": {
          "id": "xsjRaVzdAvkp6C3F",
          "name": "Google Sheets — CampusCast"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "Weather", "type": "main", "index": 0 }]]
    },
    "Weather": {
      "main": [[{ "node": "Events Read", "type": "main", "index": 0 }]]
    },
    "Events Read": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "Ollama Generate", "type": "main", "index": 0 }]]
    },
    "Ollama Generate": {
      "main": [[{ "node": "Kokoro TTS", "type": "main", "index": 0 }]]
    },
    "Kokoro TTS": {
      "main": [[{ "node": "Build Success Row", "type": "main", "index": 0 }]]
    },
    "Build Success Row": {
      "main": [[{ "node": "Results Append", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
